<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, this is client</title>
  </head>
  <body>

    <h1>Yo, this is client.</h1>

    <button type="button" id="get-data">Get Server Data</button>

    <div id="server-data">

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js" charset="utf-8"></script>

  </body>
</html>
